apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: falconpay/auth-service:latest
        ports:
        - containerPort: 3001
        env:
        - name: KAFKA_BROKERS
          value: "kafka:9092"
        - name: DB_HOST
          value: "postgres-auth"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  ports:
  - port: 3001
    targetPort: 3001
  selector:
    app: auth-service
